html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerRegular.woff2'),
        url('../fonts/MullerRegular.woff');
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerBold.woff2'),
        url('../fonts/MullerBold.woff');
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: 'Russo';
    src: url('../fonts/RussoOne-Regular.woff2'),
        url('../fonts/RussoOne-Regular.woff');
    font-display: swap;
    font-weight: 400;
}

:root {
    --color-light: #fff;
    --color-dark: #07060b;
    --color-primary: #46f4db;
    --color-primary-active: #57d272;
    --color-red: #d13130;
    --color-athens: #ededf2;
    --color-manatee: #95959d;

    --gap: 32px;
    --container-pad: 36px;

    --grad: linear-gradient(180deg, var(--color-primary) 27.08%, var(--color-primary-active) 100%);
}

body {
    min-width: 320px;
    font-family: 'Muller', sans-serif;
    font-size: 20px;
    line-height: 1;
    color: var(--color-dark);
}

.container {
    margin: 0 auto;
    padding: 0 var(--container-pad);
    max-width: 1330px;
}

section {
    padding: 90px 0;
}

.title {
    margin: 0;
    font-family: 'Russo', sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 72px;
    margin-bottom: 32px;
}

.title-small {
    margin: 0;
    font-family: 'Russo', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-dark);
    margin-bottom: 32px;
}

.btn-fill,
.btn-stroke {
    --pd-x: 54px;
    --pd-y: 25px;
    --bd-rad: 40px;

    --color: inherit;
    --color-hover: var(--color);
    --color-focus: var(--color);
    --color-active: var(--color);

    --trans-time: 0.3s;

    position: relative;
    display: inline-block;
    border: none;
    border-radius: var(--bd-rad);
    color: var(--color);

    font: inherit;
    font-weight: 700;
    cursor: pointer;
}

.btn-fill::before,
.btn-fill::after,
.btn-stroke::before,
.btn-stroke::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;

    left: 0;
    top: 0;
    border-radius: inherit;
    z-index: 0;

    transition: opacity var(--trans-time) ease-in-out;
    opacity: 0;
}

.btn-fill:hover,
.btn-stroke:hover {
    color: var(--color-hover);
}
.btn-fill:focus-visible,
.btn-stroke:focus-visible {
    color: var(--color-focus);
}
.btn-fill:active,
.btn-stroke:active {
    color: var(--color-focus);
}

.btn-fill>span,
.btn-stroke>span {
    position: relative;
    z-index: 1;
}

.btn-fill {
    --bg: var(--grad);
    --bg-hover-focus: var(--color-primary);
    --bg-active: var(--color-primary-active);

    background: var(--bg);
    padding: var(--pd-y) var(--pd-x);
}

.btn-fill::before {
    background: var(--bg-hover-focus);
}
.btn-fill::after {
    background: var(--bg-active);
  }

.btn-fill:hover::before,
.btn-fill:focus-visible::before {
    opacity: 1;
}
.btn-fill:active::after {
    opacity: 1;
  }

.btn-fill>span {
    transition: color var(--trans-time) ease-in-out;
}

.btn-stroke {
    --bd-width: 5px;

    --bg: var(--color-dark);
    --bg-hover: var(--grad);
    --bg-focus: var(--color-primary);
    --bg-active: var(--color-primary-active);

    padding: var(--bd-width);
    background: var(--bg-hover);
}

.btn-stroke>span {
    --pad-x: calc(var(--pd-x) - var(--bd-width));
    --pad-y: calc(var(--pd-y) - var(--bd-width));


    display: block;
    background: var(--bg);
    border-radius: inherit;
    padding: var(--pad-y) var(--pad-x);
    transition: color var(--trans-time) ease-in-out, background-color var(--trans-time) ease-in-out;


}

.btn-stroke::before {
    background: var(--bg-focus);
}

.btn-stroke::after {
    background: var(--bg-active);
}

.btn-stroke:hover>span,
.btn-stroke:focus-visible>span,
.btn-stroke:active>span {
    background: transparent;
}

.btn-stroke:focus-visible::before {
    opacity: 1;
}

.btn-stroke:active::after {
    opacity: 1;
}


.text-input {
    font-weight: 400;
    color: var(--color-light);
    background-color: var(--color-dark);
    padding: 25px 32px;
    border-radius: 40px;
    border: none;
}


.checkbox-label {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.checkbox-label__checkbox {
    appearance: none;
    position: relative;
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid var(--color-light);
    cursor: pointer;
}

.checkbox-label__checkbox::after {
    position: absolute;
    top: 3px;
    left: 3px;
    content: "";
    width: 8px;
    height: 5px;
    border: 2px solid var(--color-primary);
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.checkbox-label__checkbox:checked::after {
    opacity: 1;
}

.checkbox-label__label {
    color: var(--color-light);
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
    user-select: none;
}

label.file-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: var(--color-athens);
    border-radius: 40px;
    padding: 98px 24px;
    cursor: pointer;
}

input.file-input__input {
    position: absolute;
    width: 0;
    height: 0;
    appearance: none;
}

input.file-input__input:focus-visible + .file-input__icon {
    border-color: var(--color-primary);
}
input.file-input__input:focus-visible + .file-input__icon::before {
    background-color: var(--color-primary);
}
input.file-input__input:focus-visible + .file-input__icon::after {
    background-color: var(--color-primary);
}

.file-input__icon {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-color: var(--color-light);
    transition: border-color 0.3s ease-in-out;
}

.file-input:hover .file-input__icon,
.file-input:focus .file-input__icon {
    border-color: var(--color-primary);
}

.file-input:hover .file-input__icon::before {
    background-color: var(--color-primary);
}

.file-input:hover .file-input__icon::after {
    background-color: var(--color-primary);
}

.file-input:active .file-input__icon {
    border-color: var(--color-primary-active);
}

.file-input:active .file-input__icon::before {
    background-color: var(--color-primary-active);
}

.file-input:active .file-input__icon::after {
    background-color: var(--color-primary-active);
}

.file-input__icon::before,
.file-input__icon::after {
    content: "";
    position: absolute;
    background-color: var(--color-athens);
    transition: background-color 0.3s ease-in-out;
}

.file-input__icon::before {
    width: 40px;
    height: 6px;
    left: calc(50% - 20px);
    top: calc(50% - 3px);
}

.file-input__icon::after {
    width: 6px;
    height: 40px;
    left: calc(50% - 3px);
    top: calc(50% - 20px);
}

.file-input__text {
    color: var(--color-manatee);
    line-height: 30px;
    text-wrap: nowrap;
    user-select: none;
}


.header {
    padding: 15px 0;
    background-color: var(--color-light);
}

.header__container {
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: calc(var(--gap) * 2);
}

.header__nav {
    margin-right: auto;
}

.nav__list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: var(--gap);
}

.nav__link {
    font-weight: 700;
    transition: color 0.3s ease-in-out;
}

.nav__link:hover {
    color: var(--color-primary);
}

.nav__link:focus-visible {
    outline: 2px solid var(--color-primary-active);
    outline-offset: 4px;
}

.nav__link:active {
    color: var(--color-primary-active);
}

.wallet-btn__text-btn {
    color: var(--color-light);
    background-color: var(--color-dark);
    padding: 17px 31px;
    border: none;
    border-radius: 77px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.wallet-btn__text-btn:hover,
.wallet-btn__text-btn:focus-visible {
    color: var(--color-dark);
    background-color: var(--color-primary);
}
.wallet-btn__text-btn:active {
    color: var(--color-dark);
    background-color: var(--color-primary-active);
}


.wallet-btn__icon-btn {
    display: none;
    height: 28px;
    cursor: pointer;
    border: none;
    outline-offset: 3px;
}

.wallet-btn__icon-btn .wallet-btn__icon path {
    fill: var(--color-dark);
}

.wallet-btn__icon path {
    transition: fill 0.3s ease;
}

.wallet-btn__icon-btn:hover>.wallet-btn__icon path{
    fill: var(--color-primary);
}

.wallet-btn__icon-btn:active>.wallet-btn__icon path {
    fill: var(--color-primary-active);
}



.hero {
    color: var(--color-light);
    background-color: var(--color-dark);
    background-image: url("../img/hero-bg.png");
    background-repeat: no-repeat;
    background-position: calc(100% + 300px) top;
    height: 680px;
}

.hero__container {
    height: 100%;
    display: flex;
    align-items: center;
}

.hero__title {
    font-size: 70px;
    font-family: "Russo", sans-serif;
    font-weight: 400;
    line-height: 84px;
    margin: 0;
    margin-bottom: 36px;
}

.hero__buttons {
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: var(--gap);
}

.hero__btn {
    font-weight: 700;
}

.hero__buy-btn {
    --color: var(--color-dark);

    --bg: linear-gradient(180deg, var(--color-primary) 27.08%, var(--color-primary-active) 100%);
    --bg-hover-focus: var(--color-primary);
    --bg-active: var(--color-primary-active);
}

.hero__author-btn {
    --color-hover: var(--color-dark);
    --color-focus: var(--color-dark);
    --color-active: var(--color-dark);

    --bg: var(--color-dark);
    --bg-hover: var(--grad);
}



.auction__title {
    display: flex;
    align-items: center;
    gap: 16px;
}

.auction__state {
    display: flex;
    align-items: center;
    font-family: 'Muller', sans-serif;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 15px;
    border: 2px solid var(--color-red);
    border-radius: 100px;
    color: var(--color-red);
}

.auction__state::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--color-red);
    margin-right: 5px;
}

.auction__bet {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: var(--gap);
}

.bet__sticker {
    max-width: 460px;
    min-width: 296px;
}

.bet__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: start;
    gap: var(--gap);
    font-weight: 700;
}

.bet__auction-owner {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 11px 16px;
    background-color: var(--color-athens);
    border-radius: 23px;
}

.bet__owner-name {
    font-weight: 700;
}

.bet__sticker-name {
    font-weight: 400;
    font-size: 48px;
}

.bet__props {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    width: 100%;
}

.bet__current-bet {
    display: flex;
    flex-direction: column;
    background-color: var(--color-athens);
    padding: 32px;
    border-radius: 40px;
    font-weight: 700;
}

.current-bet__caption {
    margin-bottom: 16px;
}

.current-bet__price {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 6px;
}

.current-bet__price-dollars {
    color: var(--color-manatee);
}

.bet__auction-timer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--color-dark);
    background-image: url("../img/clock.svg");
    background-position: calc(100% - var(--gap)) center;
    background-size: 121px 121px;
    background-repeat: no-repeat;
    max-width: 460px;
    min-width: 425px;
    padding: 32px;
    border-radius: 40px;
    color: var(--color-light);
    font-weight: 700;
}

.auction-timer__caption {
    margin-bottom: 16px;
}

.auction-timer__content {
    display: flex;
    gap: 26px;
}

.auction-timer__part {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auction-timer__value {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 6px;
}

.bet__btn {
    --pd-x: 74px;
    --pd-y: 25px;

    --bg: var(--color-primary);
    --bg-hover-focus: var(--grad);
}



.other-auctions {
    padding-top: 0;
}

.other-auctions__content {
    margin-bottom: 32px;
}

.other-auctions__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap);
}

.other-auctions__slider {
    --swiper-pagination-bullet-horizontal-gap: 4px;
    height: auto;
}

.other-auctions__slider .swiper-pagination {
    position: initial;
    display: flex;
    justify-content: center;
    margin-top: 16px;
    padding: 1px 0;
}

.other-auctions__slider .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: var(--color-athens);
    opacity: 1;
    transition: background-color 0.3s ease-in-out;
}

.other-auctions__slider .swiper-pagination-bullet-active {
    background-color: var(--color-primary);
}

.auction-card {
    display: flex;
    flex-direction: column;
    color: var(--color-light);
    font-size: 20px;
    font-weight: 700;
    border-radius: 40px;
    overflow: hidden;
}

.auction-card__sticker-img {
    padding: 7px 16px;
    background-color: var(--color-athens);
    display: flex;
    justify-content: center;
}

.auction-card__sticker-img img {
    min-width: 160px;
}

.auction-card__data {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 12px;
    padding: 16px;
    padding-bottom: 32px;
    background-color: var(--color-dark);
}

.auction-card__owner {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    margin-bottom: 4px;
}

.auction-card__price {
    color: var(--color-primary);
}

.auction-card__timer {
    font-size: 16px;
    color: var(--color-manatee);
}

.other-auctions__btn {
    --pd-x: 80px;
    --pd-y: 25px;

    --bg: var(--color-light);
    --bg-hover: var(--color-primary);
    --bg-focus: var(--color-primary);

    display: block;
    width: max-content;
    margin: 0 auto;
}


.new-stickers {
    background: var(--color-dark);
}

.new-stickers__title {
    color: var(--color-light);
}

.new-stickers__title::before {
    content: "";
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-right: 16px;
    background-image: url("../img/fire.png");
    background-size: 100%;
    background-repeat: no-repeat;
}


.new-stickers__slider {
    --swiper-pagination-bullet-horizontal-gap: 10px;
}

.new-stickers__slider .swiper-pagination {
    position: initial;
    display: flex;
    justify-content: center;
    margin-top: 74px;
    padding: 1px 0;
}

.new-stickers__slider .swiper-pagination-bullet {
    width: 56px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    color: var(--color-light);
    background-color: var(--color-dark);
    border: 2px solid var(--color-red);
    border-radius: 40px;
    opacity: 1;
    transition: background-color 0.3s ease-in-out;
}

.new-stickers__slider .swiper-pagination-bullet-active {
    background-color: var(--color-red);
}



.subscribe {
    background-color: var(--color-red);
    padding: 32px 0;
}

.subscribe__title {
    color: var(--color-light);
}

.subscribe__form {
    max-width: 460px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
}

.subscribe__text-input {
    width: 100%;
}

.subscribe__btn {
    --pd-x: 74px;
    --pd-y: 25px;

    --bg: var(--color-primary);
    --bg-hover-focus: var(--grad);
}



.become-author__container {
    display: flex;
    gap: var(--gap);
}

.become-author__text {
    max-width: 624px;
}

.become-author__img-text {
    user-select: none;
}

.become-author__title,
.become-author__title-small {
    margin-bottom: 16px;
}

.become-author__descr {
    line-height: 30px;
    margin-bottom: var(--gap);
}

.become-author__form-wrapper {
    display: flex;
    gap: var(--gap);
    flex-grow: 1;
}

.become-author__img-form {
    display: none;
    user-select: none;
}

.become-author__form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--gap);
    flex-grow: 1;
}

.become-author__file-input {
    width: 100%;
}

.become-author__tg-input {
    width: 100%;
    background-color: var(--color-athens);
    color: var(--color-dark);
}

.become-author__tg-input::placeholder {
    color: var(--color-manatee);
    opacity: 1;
}

.become-author__btn {
    --pd-x: 74px;
    --pd-y: 25px;

    --bg: var(--color-primary);
    --bg-hover-focus: var(--grad);
}


.sale-top {
    background-color: var(--color-dark);
    color: var(--color-light);
}

.sale-top__list {
    list-style: none;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: var(--gap);
}

.sale-item {
    background-color: var(--color-light);
    color: var(--color-dark);
    border-radius: 40px;
    display: flex;
    overflow: hidden;
}

.sale-item__sticker-img {
    padding: 16px;
    background-color: var(--color-athens);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: -32px;
}

.sale-item__sticker-img img {
    display: block;
    min-width: 142px;
    height: 142px;
}

.sale-item__data {
    background-color: var(--color-light);
    padding: 32px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    font-weight: 700;
    overflow: hidden;
}

.sale-item__owner {
    display: flex;
    align-items: center;
    gap: 8px;
}

.sale-item__owner-name {
    font-size: 16px;
    line-height: 16px;
}

.sale-item__sticker-name {
    font-size: 48px;
    line-height: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.sale-item__price-dollars {
    color: var(--color-manatee);
}


.sale-top-info {
    background-color: #37373e;
    padding: 32px 0;
    color: var(--color-light);
}

.sale-top-info__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.sale-top-info__title {
    font-family: "Muller", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

.sale-top-info__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
}

.sale-top-info__item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.sale-top-info__img {
    user-select: none;
}



.footer__content {
    padding: 20px 0;
    background-color: var(--color-primary);
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: var(--gap);
}

.footer__links {
    display: flex;
    gap: var(--gap);
    font-weight: 700;
}

.footer__link {
    padding: 4px 10px;
    transition: opacity 0.3s ease-in-out;
}

.footer__link:hover,
.footer__link:active {
    opacity: 0.5;
}

.footer__link:focus-visible {
    outline: 2px solid var(--color-dark);
    opacity: 1;
}

.footer__copyright {
    display: flex;
    justify-content: center;
    padding: 8px 12px;
    font-size: 12px;
    background-color: var(--color-dark);
    color: var(--color-light);
}